$primary: #42A5F5;
$default: #EFEFEF;
$success: #4CAF50;
$warning: #F0AD4E;
$inverse: #474955;
$danger: #BD362F;
$mainBGC: #F5F5F5;
$secondBGC: #FFFFFF;
$textColor: #444444;
$secondTextColor: #757575;
$borderColor: #8b8d8d;
$itemsColor: #81C4A4FF;


