.searchBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 200px;
  width: 60%;
  position: relative;

  input {
    display: block;
    color: #B2B7BF;
    background-color: #5A5C66;
    border: none;
    height: 15px;
    width: 100%;
    padding: 15px 25px;
    font-size: 16px;
  }

  ::placeholder {
    color: #B2B7BF;
  }

  .icon {
    position: absolute;
    background-image: url(../../../../public/images/search.png);
    height: 20px;
    width: 20px;
    right: 18px;
    top: calc(50% - 10px);
  }
}
